.header{
    border-bottom: 2px solid #3b455a3f;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.linkcontainer > ul{
    list-style-type: none;
}

.linkcontainer > ul >li {
    font-size: 16px;
}
.subcont{
    justify-content: space-between;
}
/* .imageconainer > .logo{
    width: 150px;
} */

#onelink:hover{
    color: rgba(0, 0, 255, 0.544);
}
.btn {
  width: 150px; 
}
.btn:hover {
  background-color: #FF8500;
}
.nav_row {
    color: #23222299;
}
.nav_row a:hover {
color:#FF8500;
}
.nav_row a {
    text-decoration:none !important ;
    color:#23222299 ;
}

#onelink:hover  {
color:#FF8500
}
#onelink {
    color: #23222299;
}